*, html {
   margin: 0;
   padding: 0;
   background-color: black;
   color: greenyellow;
}

h1, h3 {
   text-align: center;
   padding: 1rem;
}

.grid {
   display: flex;
   flex-wrap: wrap;
   border: solid 1px;
   width: 300px;
   height: 300px;
   margin: 0 auto;
}

.grid div {
   width: 20px;
   height: 20px;
}

.shooter {   
   background-image: url('cannon.jpeg');
   background-size: cover;
}

.invader {
   background-image: url('alien.png');
   background-size: cover;
   border-radius: 10px;
}

.boom {
   background-color: orangered;
}

.laser {
   background-color: rgb(49, 222, 228);
}

.footer p {
   background: #0c0c0c;
   padding: 1rem;
   margin: 3.5rem auto;
   text-align: center;
}

#footer {
   background-color: black;
   width: 100%;   
}

.directions {
   margin: 0 auto;
   text-align: center;
}

.directions button {
   font-size: 2rem;
   margin: 2rem;
   padding: 1rem;
}

#date {
   padding: 2rem;
   text-align: center;
}